@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
  --navbar-padding: 1rem 3rem;
}

.tiptap.ProseMirror {
  flex-grow: 1;
  padding: 2rem;
}

.tiptap.ProseMirror:focus {
  outline: none;
}
